.Breo{
    height: 300px;
    width: 300px;
    align-items: center;
}
.D1{
    background-color: #1D5D9B;
    text-align: center;
}
.D2{
    background-color: #75C2F6;
}
.D3{
    background-color: #F4D160;
}
.D4{
    background-color: #FBEEAC;
}
